pkgbase = orivo
	pkgdesc = A Pomodoro timer for your Todoist todos, with its own window and a CLI
	pkgver = 0.8.0
	pkgrel = 1
	url = https://github.com/mt-shihab26/orivo
	install = orivo.install
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = glibc
	depends = libgl
	depends = libx11
	depends = libxkbcommon
	depends = wayland
	depends = libffi
	depends = libnotify
	options = !strip
	options = !debug
	source = LICENSE::https://raw.githubusercontent.com/mt-shihab26/orivo/v0.8.0/LICENSE
	source = orivo-omarchy.desktop::https://github.com/mt-shihab26/orivo/releases/download/v0.8.0/orivo-omarchy.desktop
	source = orivo.svg::https://github.com/mt-shihab26/orivo/releases/download/v0.8.0/orivo.svg
	source = orivo-sync.service
	source = orivo-sync.timer
	sha256sums = 4a3d287c9308636fb243c9785a195a800c577b49f44ef658ff4c61143be313a1
	sha256sums = d84d6053a5549031f835aabd6df471587cdfe9fe31d788e54e44f90e6cb1914c
	sha256sums = 27174eda039a68a18fa6e8df9981b44e381fbd85d88d2c6c62505766eff60671
	sha256sums = 7c66023b9844f95d15e81d49c2edc5e9615d42c350cfc28a261b1ae6ef0770d0
	sha256sums = a57837789423941da53db1c0435900d991909e5c43f0868f373d91523e3c0205
	source_x86_64 = orivo-v0.8.0-linux-x86_64::https://github.com/mt-shihab26/orivo/releases/download/v0.8.0/orivo-v0.8.0-linux-x86_64
	sha256sums_x86_64 = d7fc46d9d9445982deb117cdb9a6f7891ba90c7f844b1a3a47dc8f65d7e75e10
	source_aarch64 = orivo-v0.8.0-linux-aarch64::https://github.com/mt-shihab26/orivo/releases/download/v0.8.0/orivo-v0.8.0-linux-aarch64
	sha256sums_aarch64 = 1f712fa8ab58822dcc71d3fdb09d488766975d2ecec103b198d39842d27c952e

pkgname = orivo
