pkgbase = orivo
	pkgdesc = A terminal-based (TUI) Todos + Pomodoro timer written in Rust
	pkgver = 0.5.0
	pkgrel = 1
	url = https://github.com/mt-shihab26/orivo
	install = orivo.install
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = sqlite
	depends = alsa-lib
	depends = gcc-libs
	options = !strip
	options = !debug
	source = LICENSE::https://raw.githubusercontent.com/mt-shihab26/orivo/v0.5.0/LICENSE
	source = orivo-omarchy.desktop::https://github.com/mt-shihab26/orivo/releases/download/v0.5.0/orivo-omarchy.desktop
	source = orivo.svg::https://github.com/mt-shihab26/orivo/releases/download/v0.5.0/orivo.svg
	source = orivo-sync.service
	source = orivo-sync.timer
	sha256sums = 4a3d287c9308636fb243c9785a195a800c577b49f44ef658ff4c61143be313a1
	sha256sums = fc4896283c369009fa10a5d7d6f43e7bb406b7ec471db7cff509669ba61ff1d0
	sha256sums = 27174eda039a68a18fa6e8df9981b44e381fbd85d88d2c6c62505766eff60671
	sha256sums = fca39e51cd5100d657e5d157a075cf0d3bc0a8bdb76cde2994eb599a54fac4dd
	sha256sums = 21769b2ec4220550fa21b8c71f2584adf672dfba757d62823076f16e53714c2c
	source_x86_64 = orivo-v0.5.0-linux-x86_64::https://github.com/mt-shihab26/orivo/releases/download/v0.5.0/orivo-v0.5.0-linux-x86_64
	sha256sums_x86_64 = d309636007e9cdda776e2a65e7a9ad8a25949ea3035f7103ad8f01e8aea425e3
	source_aarch64 = orivo-v0.5.0-linux-aarch64::https://github.com/mt-shihab26/orivo/releases/download/v0.5.0/orivo-v0.5.0-linux-aarch64
	sha256sums_aarch64 = 0d3fb25ee108ad9c76fd6294e8d5b2cc3a0b1f9140599dd75286da7954de3364

pkgname = orivo
