pkgbase = orivo
	pkgdesc = A Pomodoro timer for the desktop, written in Go with raylib.
	pkgver = 0.8.4
	pkgrel = 1
	url = https://github.com/mt-shihab26/orivo
	install = orivo.install
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = glibc
	depends = libgl
	depends = libx11
	depends = libxkbcommon
	depends = wayland
	depends = libffi
	depends = libnotify
	options = !strip
	options = !debug
	source = LICENSE::https://raw.githubusercontent.com/mt-shihab26/orivo/v0.8.4/LICENSE
	source = orivo-omarchy.desktop::https://github.com/mt-shihab26/orivo/releases/download/v0.8.4/orivo-omarchy.desktop
	source = orivo.svg::https://github.com/mt-shihab26/orivo/releases/download/v0.8.4/orivo.svg
	source = orivo-sync.service
	source = orivo-sync.timer
	sha256sums = 4a3d287c9308636fb243c9785a195a800c577b49f44ef658ff4c61143be313a1
	sha256sums = 591c8185769b6201e7fbeb2a786c880f3c2f4082ece204229391ba24b73fb782
	sha256sums = 27174eda039a68a18fa6e8df9981b44e381fbd85d88d2c6c62505766eff60671
	sha256sums = 7c66023b9844f95d15e81d49c2edc5e9615d42c350cfc28a261b1ae6ef0770d0
	sha256sums = a57837789423941da53db1c0435900d991909e5c43f0868f373d91523e3c0205
	source_x86_64 = orivo-v0.8.4-linux-x86_64::https://github.com/mt-shihab26/orivo/releases/download/v0.8.4/orivo-v0.8.4-linux-x86_64
	sha256sums_x86_64 = b8b83d807d2c9ca67a14e97a1e1f40ce81a127c2ddbbc0b1cf8c80865285987f
	source_aarch64 = orivo-v0.8.4-linux-aarch64::https://github.com/mt-shihab26/orivo/releases/download/v0.8.4/orivo-v0.8.4-linux-aarch64
	sha256sums_aarch64 = dc42505cf465b347d08255f3b7f38764ea134c13b38f7d5a98cc5ea514b5cff8

pkgname = orivo
