[Desktop Entry]
Name=Orivo
Comment=Pomodoro timer for your Todoist todos
Exec=orivo
Icon=orivo
Terminal=false
Type=Application
Categories=Utility;
Keywords=todo;pomodoro;timer;todoist;productivity;
StartupNotify=false
