[Desktop Entry]
Name=Orivo
Comment=A Pomodoro timer for the desktop, written in Go with raylib.
Exec=orivo
Icon=orivo
Terminal=false
Type=Application
Categories=Utility;
Keywords=todo;pomodoro;timer;todoist;productivity;
StartupNotify=false
